.lato {
  font-family: 'Lato', sans-serif;
}
.jose {
  font-family: 'Josefin Sans', sans-serif;
}
.textBI {
  font-weight: 700;
  font-style: italic;
}
.fontThin {
  font-weight: 100;
}
.border6 {
  border: 6px solid white;
}
.textCenter {
  text-align: center;
}
.centerBlock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.floatR {
  float: right;
}
.floatL {
  float: left;
}
.appCont {
  background-color: white;
  position: relative;
  width: 100%;
  background-color: #dddddd;
}
.profImg {
  background-image: url("derek.jpg");
  background-size: cover;
  background-position: center;
}
.locatnImg {
  background-image: url("locatn.jpg");
  background-size: cover;
  background-position: center;
}
.profileHeaderCont {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.profileHeaderCont .coverPhoto {
  background-image: url("derek.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  margin: -15px -15px -15px -15px;
}
.profileHeaderCont .picNameCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profileHeaderCont .picNameCont .profilePic {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  background-color: #555555;
  height: 200px;
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 6px solid white;
  background-image: url("derek.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 22px;
}
.profileHeaderCont .picNameCont .name {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 36px;
  color: white;
}
.whiteBlock {
  background-color: white;
  height: 20px;
  width: 100%;
  margin-top: -20px;
  position: absolute;
}
.profileTitle {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  padding-top: 22px;
  padding-bottom: 9px;
  font-size: 30px;
}
.editText {
  font-weight: 300;
  font-size: 22px;
  font-style: italic;
}
.locatnRow {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  background-color: #555555;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}
.locatnRow .locatnPic {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  border: 6px solid white;
  background-color: #222222;
  float: left;
  background-image: url("locatn.jpg");
  background-size: cover;
  background-position: center;
  width: 121px;
  height: 121px;
  margin-right: 15px;
}
.locatnRow .locatnText {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  color: white;
  width: 100%;
  margin-bottom: 8px;
  margin-left: -50px;
}
.locatnRow .locatnText .locatnTitle {
  font-size: 28px;
}
.locatnRow .locatnText .locatnDesc {
  font-size: 18px;
  font-style: italic;
}
.locatnRow .arrowButton {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  float: right;
  margin-top: -63px;
  background-color: white;
  height: 50px;
  width: 50px;
}
.locatnRow .tagRow .tag {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  display: inline;
  height: 30px;
  width: 100%;
  background-color: #dddddd;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  padding-top: 7px;
  padding-bottom: 3px;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: 10px;
}
.sectionCont {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
